@charset "UTF-8";
html, body, div, span, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, code, em, img, strong, sub, sup, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, menu, nav, section, summary, time, audio, video {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border-collapse: collapse;
  border-spacing: 0;
  font-size: inherit;
  font-weight: normal;
  margin: 0;
  padding: 0; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

ul {
  list-style: none; }

a, abbr, address, article, aside, audio, blockquote, body, canvas, caption, cite, code, dd, del, details, dfn, div, dl, dt, em, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, p, pre, q, samp, section, small, span, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, ul, var, video {
  clear: both;
  outline-width: 0;
  border-width: 0;
  border-style: solid;
  border-color: transparent;
  background: 0 0;
  outline-style: solid;
  vertical-align: baseline; }

blockquote, body, form, html, pre, table {
  margin: 0;
  padding: 0; }

button, figure, input, select, textarea {
  margin: 0; }

button, iframe, img, input, select, textarea {
  max-width: 100%; }

iframe {
  width: 100%; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

[hidden], audio:not([controls]) {
  display: none; }

img {
  -ms-interpolation-mode: bicubic; }

svg:not(:root) {
  overflow: hidden; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

ul {
  list-style: disc;
  padding-left: 2em; }

ol {
  list-style: decimal;
  padding-left: 2em; }

nav ol, nav ul {
  list-style: none;
  padding-left: 0; }

sub, sup {
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0; }

caption, td, th {
  text-align: left;
  vertical-align: top; }

html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

dt, h1, h2, h3, h4, h5, h6, mark, strong, th {
  font-weight: 700; }

a {
  text-decoration: underline; }

a:hover {
  text-decoration: none; }

button, input, select, textarea {
  font-family: inherit; }

code, input:not([type]), input[type=""], input[type=email], input[type=password], input[type=search], input[type=tel], input[type=text], input[type=url], kbd, pre, samp, select, textarea {
  line-height: inherit; }

button, code, input, kbd, pre, samp, select, textarea {
  font-weight: inherit; }

button, select {
  text-transform: none; }

blockquote, dfn, em, q {
  font-style: italic; }

del {
  text-decoration: line-through; }

blockquote, q {
  quotes: none; }

blockquote:after, blockquote:before, q:after, q:before {
  content: "";
  content: none; }

button, input:not([type]), input[type=""], input[type=button], input[type=email], input[type=password], input[type=reset], input[type=search], input[type=submit], input[type=tel], input[type=text], input[type=url], textarea {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  display: inline-block; }

input[type=search] {
  -webkit-appearance: textfield;
  -moz-appearance: textfield; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

input[type=checkbox], input[type=radio] {
  box-sizing: border-box;
  padding: 0; }

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  text-align: center; }

button, input, select {
  vertical-align: baseline; }

textarea {
  overflow: auto;
  vertical-align: top; }

body {
  cursor: default; }

abbr[title], dfn[title] {
  text-decoration: underline;
  cursor: help; }

a, button, input[type=button], input[type=checkbox], input[type=file], input[type=image], input[type=radio], input[type=reset], input[type=submit], label, option, select {
  cursor: pointer; }

.disabled a, .disabled button, .disabled input[type=button], .disabled input[type=reset], .disabled input[type=submit], .disabled label, a.disabled, a[disabled], button.disabled, button[disabled], input[disabled], input[type=button].disabled, input[type=reset].disabled, input[type=submit].disabled, label.disabled {
  cursor: default; }

a:focus {
  outline-style: dotted; }

a:active, a:hover {
  outline: 0; }

input:not([type]), input[type=""], input[type=email], input[type=password], input[type=search], input[type=tel], input[type=text], input[type=url] {
  width: 20em;
  max-width: 98%; }

input:not([type]).squeeze, input[type=""].squeeze, input[type=email].squeeze, input[type=password].squeeze, input[type=search].squeeze, input[type=tel].squeeze, input[type=text].squeeze, input[type=url].squeeze {
  width: 14em; }

textarea {
  width: 32em;
  max-width: 90%;
  height: 10.72em; }

textarea.squeeze {
  width: 20em;
  height: 4.02em; }

button.plain, input.plain, textarea.plain {
  color: inherit;
  border-width: 0;
  border-style: solid;
  background-color: transparent;
  padding: 0; }

button.plain, input[type=button].plain, input[type=reset].plain, input[type=submit].plain {
  line-height: inherit;
  font-family: inherit; }

input.buffer, input.buffer-top, textarea.buffer, textarea.buffer-top {
  padding-top: 0.35em; }

input.buffer, input.buffer-right, textarea.buffer, textarea.buffer-right {
  padding-right: 0.6em; }

input.buffer, input.buffer-bottom, textarea.buffer, textarea.buffer-bottom {
  padding-bottom: 0.4em; }

input.buffer, input.buffer-left, textarea.buffer, textarea.buffer-left {
  padding-left: 0.6em; }

.column, .row {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.row {
  width: 100%;
  clear: both;
  float: none; }

.row-content {
  margin: 0 auto;
  max-width: 70em; }

.row-content.buffer, .row-content.buffer-top {
  padding-top: 2%; }

.row-content.buffer-top.even, .row-content.buffer.even {
  padding-top: 6%; }

.row-content.buffer, .row-content.buffer-right {
  padding-right: 8%; }

.row-content.buffer, .row-content.buffer-bottom {
  padding-bottom: 6%; }

.row-content.buffer, .row-content.buffer-left {
  padding-left: 8%; }

.column {
  clear: none;
  float: left;
  min-height: 1px; }

.column.center, .column.first, .column.full, .column.twelve {
  clear: both; }

.column.right {
  float: right; }

.column.center, .column.right.center {
  float: none; }

.column {
  margin-left: 0;
  margin-right: 2%; }

.column.last, .column.reset {
  margin-right: 0 !important; }

.column.right {
  margin-right: 0;
  margin-left: 3.8%; }

.column.right.last, .column.right.reset {
  margin-left: 0 !important; }

.column.center, .column.right.center {
  margin-right: auto !important;
  margin-left: auto !important; }

.column.full, .column.twelve {
  width: 100%; }

.column.one {
  width: 4.85%; }

.column.sixth, .column.two {
  width: 13.45%; }

.column.fourth, .column.three {
  width: 22.05%; }

.column.four, .column.third, .column.twosixths {
  width: 30.75%; }

.column.five {
  width: 39.45%; }

.column.half, .column.six, .column.threesixths, .column.twofourths {
  width: 48%; }

.column.seven {
  width: 56.75%; }

.column.eight, .column.foursixths, .column.twothirds {
  width: 65.4%; }

.column.nine, .column.threefourths {
  width: 74.05%; }

.column.fivesixths, .column.ten {
  width: 82.7%; }

.column.eleven {
  width: 91.35%; }

.column.push-one {
  margin-left: 8.65%; }

.column.right.push-one {
  margin-right: 8.65%; }

.column.push-sixth, .column.push-two {
  margin-left: 17.25%; }

.column.right.push-sixth, .column.right.push-two {
  margin-right: 17.25%; }

.column.push-fourth, .column.push-three {
  margin-left: 25.85%; }

.column.right.push-fourth, .column.right.push-three {
  margin-right: 25.85%; }

.column.push-four, .column.push-third, .column.push-twosixths {
  margin-left: 34.55%; }

.column.right.push-four, .column.right.push-third, .column.right.push-twosixths {
  margin-right: 34.55%; }

.column.push-five {
  margin-left: 43.25%; }

.column.right.push-five {
  margin-right: 43.25%; }

.column.push-half, .column.push-six, .column.push-threesixths, .column.push-twofourths {
  margin-left: 51.8%; }

.column.right.push-half, .column.right.push-six, .column.right.push-threesixths, .column.right.push-twofourths {
  margin-right: 51.8%; }

.column.push-seven {
  margin-left: 60.55%; }

.column.right.push-seven {
  margin-right: 60.55%; }

.column.push-eight, .column.push-foursixths, .column.push-twothirds {
  margin-left: 69.2%; }

.column.right.push-eight, .column.right.push-foursixths, .column.right.push-twothirds {
  margin-right: 69.2%; }

.column.push-nine, .column.push-threefourths {
  margin-left: 77.85%; }

.column.right.push-nine, .column.right.push-threefourths {
  margin-right: 77.85%; }

.column.push-fivesixths, .column.push-ten {
  margin-left: 86.5%; }

.column.right.push-fivesixths, .column.right.push-ten {
  margin-right: 86.5%; }

.column.push-eleven {
  margin-left: 95.15%; }

.column.right.push-eleven {
  margin-right: 95.15%; }

.column.one.reset {
  width: 8.3%; }

.column.sixth.reset, .column.two.reset {
  width: 16.65%; }

.column.fourth.reset, .column.three.reset {
  width: 25%; }

.column.four.reset, .column.third.reset, .column.twosixths.reset {
  width: 33.3%; }

.column.five.reset {
  width: 41.65%; }

.column.half.reset, .column.six.reset, .column.threesixths.reset, .column.twofourths.reset {
  width: 50%; }

.column.seven.reset {
  width: 58.3%; }

.column.eight.reset, .column.foursixths.reset, .column.twothirds.reset {
  width: 66.6%; }

.column.nine.reset, .column.threefourths.reset {
  width: 75%; }

.column.fivesixths.reset, .column.ten.reset {
  width: 83.35%; }

.column.eleven.reset {
  width: 91.7%; }

.column.reset.push-one {
  margin-left: 8.3%; }

.column.reset.right.push-one {
  margin-right: 8.3%; }

.column.reset.push-sixth, .column.reset.push-two {
  margin-left: 16.65%; }

.column.reset.right.push-sixth, .column.reset.right.push-two {
  margin-right: 16.65%; }

.column.reset.push-fourth, .column.reset.push-three {
  margin-left: 25%; }

.column.reset.right.push-fourth, .column.reset.right.push-three {
  margin-right: 25%; }

.column.reset.push-four, .column.reset.push-third, .column.reset.push-twosixths {
  margin-left: 33.3%; }

.column.reset.right.push-four, .column.reset.right.push-third, .column.reset.right.push-twosixths {
  margin-right: 33.3%; }

.column.reset.push-five {
  margin-left: 41.65%; }

.column.reset.right.push-five {
  margin-right: 41.65%; }

.column.reset.push-half, .column.reset.push-six, .column.reset.push-threesixths, .column.reset.push-twofourths {
  margin-left: 50%; }

.column.reset.right.push-six, .column.right.reset.push-half, .column.right.reset.push-threesixths, .column.right.reset.push-twofourths {
  margin-right: 50%; }

.column.reset.push-seven {
  margin-left: 58.3%; }

.column.reset.right.push-seven {
  margin-right: 58.3%; }

.column.reset.push-eight, .column.reset.push-foursixths, .column.reset.push-twothirds {
  margin-left: 66.6%; }

.column.reset.right.push-eight, .column.reset.right.push-foursixths, .column.reset.right.push-twothirds {
  margin-right: 66.6%; }

.column.reset.push-nine, .column.reset.push-threefourths {
  margin-left: 75%; }

.column.reset.right.push-nine, .column.reset.right.push-threefourths {
  margin-right: 75%; }

.column.reset.push-fivesixths, .column.reset.push-ten {
  margin-left: 83.35%; }

.column.reset.right.push-fivesixths, .column.reset.right.push-ten {
  margin-right: 83.35%; }

.column.reset.push-eleven {
  margin-left: 91.7%; }

.column.reset.right.push-eleven {
  margin-right: 91.7%; }

.column.fluid {
  clear: none;
  float: left;
  width: 100%;
  margin-left: 0;
  margin-right: 0; }

.column.fluid > .column-content {
  margin-right: 10em; }

.column.fixed {
  position: static;
  clear: none;
  float: right;
  margin-right: 0;
  margin-left: -100%;
  width: 10em; }

.column.fluid.right > .column-content {
  margin-right: 0;
  margin-left: 10em; }

.column.fixed.right {
  float: left; }

ol.collapse, ol.inline, ol.plain, ol.plain ol, ol.plain ul, ul.collapse, ul.inline, ul.plain, ul.plain ol, ul.plain ul {
  padding-left: 0;
  list-style-type: none; }

ol.collapse ol, ol.collapse ul, ol.inline ol, ol.inline ul, ol.plain ol, ol.plain ul, ul.collapse ol, ul.collapse ul, ul.inline ol, ul.inline ul, ul.plain ol, ul.plain ul {
  margin-top: 0;
  margin-bottom: 0; }

dl.plain dt {
  font-weight: inherit; }

dl.inline.right, ol.inline.right, ul.inline.right {
  text-align: right; }

dl.inline.center, ol.inline.center, ul.inline.center {
  text-align: center; }

dl.inline > dd, dl.inline > dt, ol.inline > li, ul.inline > li {
  display: inline; }

dl.collapse, ol.collapse, ul.collapse {
  float: left;
  clear: none; }

dl.collapse.right, ol.collapse.right, ul.collapse.right {
  float: right; }

dl.collapse > dd, dl.collapse > dt, ol.collapse > li, ul.collapse > li {
  float: left;
  clear: none; }

body {
  line-height: 1.34; }

h1, h2, h3, h4, h5, h6 {
  margin-top: 1.34em;
  margin-bottom: 0.67em; }

blockquote, ol, p, pre, table, ul {
  margin-top: 0.67em;
  margin-bottom: 1.34em; }

ol ol, ol ul, ul ol, ul ul {
  margin-top: 0;
  margin-bottom: 0.67em; }

dl {
  margin-bottom: 1.34em; }

dl.plain {
  margin-top: 0.67em; }

dl.reset, dl.reset-top {
  margin-top: 0; }

dt {
  margin-top: 0.67em;
  margin-bottom: 0; }

dl.collapse > dt, dl.inline > dt, dl.plain > dt {
  margin-top: 0; }

dd {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0; }

caption {
  margin-bottom: 0.67em; }

td, th {
  padding: 0.67em; }

.squeeze td, .squeeze th, table table td, table table th, td.squeeze, th.squeeze {
  padding: 0.335em; }

table.plain td, table.plain th, tbody.plain td, tbody.plain th, td.plain, tfoot.plain td, tfoot.plain th, th.plain, thead.plain td, thead.plain th, tr.plain td, tr.plain th {
  padding: 0; }

h1.squeeze, h1.squeeze-top, h2.squeeze, h2.squeeze-top, h3.squeeze, h3.squeeze-top, h4.squeeze, h4.squeeze-top, h5.squeeze, h5.squeeze-top, h6.squeeze, h6.squeeze-top {
  margin-top: 0.67em; }

blockquote.squeeze, blockquote.squeeze-top, ol.squeeze, ol.squeeze-top, p.squeeze, p.squeeze-top, pre.squeeze, pre.squeeze-top, table.squeeze, table.squeeze-top, ul.squeeze, ul.squeeze-top {
  margin-top: 0.335em; }

h1.squeeze, h1.squeeze-bottom, h2.squeeze, h2.squeeze-bottom, h3.squeeze, h3.squeeze-bottom, h4.squeeze, h4.squeeze-bottom, h5.squeeze, h5.squeeze-bottom, h6.squeeze, h6.squeeze-bottom {
  margin-bottom: 0.335em; }

blockquote.squeeze, blockquote.squeeze-bottom, ol.squeeze, ol.squeeze-bottom, p.squeeze, p.squeeze-bottom, pre.squeeze, pre.squeeze-bottom, table.squeeze, table.squeeze-bottom, ul.squeeze, ul.squeeze-bottom {
  margin-bottom: 0.67em; }

.push, .push-top {
  margin-top: 1.34em; }

.push, .push-right {
  margin-right: 1.34em; }

.push, .push-bottom {
  margin-bottom: 1.34em; }

.push, .push-left {
  margin-left: 1.34em; }

.reset, .reset-top {
  margin-top: 0; }

.reset, .reset-right {
  margin-right: 0; }

.reset, .reset-bottom {
  margin-bottom: 0; }

.reset, .reset-left {
  margin-left: 0; }

.buffer, .buffer-top {
  padding-top: 1em; }

.buffer-top.even, .buffer.even {
  padding-top: 2em; }

.buffer, .buffer-right {
  padding-right: 2em; }

.buffer, .buffer-bottom {
  padding-bottom: 2em; }

.buffer, .buffer-left {
  padding-left: 2em; }

.no-buffer, .no-buffer-top {
  padding-top: 0; }

.no-buffer, .no-buffer-right {
  padding-right: 0; }

.no-buffer, .no-buffer-bottom {
  padding-bottom: 0; }

.no-buffer, .no-buffer-left {
  padding-left: 0; }

td.left, th.left {
  text-align: left; }

td.right, th.right {
  text-align: right; }

td.center, th.center {
  text-align: center; }

td.top, th.top {
  vertical-align: top; }

td.middle, td.vertical-center, th.middle, th.vertical-center {
  vertical-align: middle; }

td.bottom, th.bottom {
  vertical-align: bottom; }

body {
  word-break: break-word;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -epub-hyphens: auto;
  hyphens: auto; }

input[type=email], input[type=password], input[type=search], input[type=tel], input[type=text], input[type=url] {
  word-break: normal; }

html {
  font-family: "Segoe UI", "Helvetica Neue", Helvetica, "Lucida Grande", Ubuntu, Roboto, Arial, sans-serif; }

blockquote, q {
  font-family: "Droid Serif", Georgia, serif; }

code, kbd, pre, samp {
  font-family: Menlo, Monaco, "Segoe UI Mono", "Droid Sans Mono", Consolas, monospace;
  font-size: 0.9em; }

pre code, pre kbd, pre samp {
  font-size: 1em; }

h1, h2, h3 {
  text-rendering: optimizeLegibility; }

.keep-left, .keep-right {
  clear: none; }

.keep-left {
  float: left; }

.keep-right {
  float: right; }

.keep-center {
  margin-right: auto;
  margin-left: auto; }

.static {
  position: static; }

.relative {
  position: relative; }

.absolute {
  position: absolute; }

.fixed {
  position: fixed; }

.block {
  display: block; }

.inline-block {
  display: inline-block; }

.inline {
  display: inline; }

dl.inline, ol.inline, ul.inline {
  display: block; }

.hidden {
  display: none; }

.clear {
  clear: both; }

.clear-after:after {
  content: " ";
  display: table;
  clear: both; }

.dry {
  text-indent: -9999em;
  direction: ltr; }

.content-box {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box; }

.border-box {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

body {
  font-family: Segoe UI, Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 62.5%;
  line-height: 1.6em;
  text-rendering: optimizeLegibility; }

body, input, button {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  line-height: 1.2em;
  margin-bottom: 0.2em; }

h1 {
  font-size: 2.8em; }
  h1 a {
    font-weight: bold; }

h2 {
  font-size: 2.2em; }

h3 {
  font-size: 1.8em; }

h4 {
  font-size: 1.6em; }

h5 {
  font-size: 1.2em; }

h6 {
  font-size: 1em;
  font-weight: bold; }

a {
  -webkit-transition: color ease-in-out 0.4s;
  -moz-transition: color ease-in-out 0.4s;
  -ms-transition: color ease-in-out 0.4s;
  -o-transition: color ease-in-out 0.4s;
  transition: color ease-in-out 0.4s;
  color: #2c3e50;
  text-decoration: none; }
  a:visited {
    -webkit-transition: color ease-in-out 0.4s;
    -moz-transition: color ease-in-out 0.4s;
    -ms-transition: color ease-in-out 0.4s;
    -o-transition: color ease-in-out 0.4s;
    transition: color ease-in-out 0.4s;
    color: #2c3e50;
    text-decoration: none; }
  a:hover {
    color: #000;
    text-decoration: underline; }
  a:active {
    color: #ff4a40; }

button:active, input[type=reset]:active, input[type=submit]:active {
  color: #ff4a40; }

p {
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
  font-size: 1.6em;
  line-height: 1.5em;
  margin: 0 0 1.2em;
  word-break: break-word; }

ul li, ol li {
  font-size: 1.6em;
  line-height: 1.5em; }

ul ol li, ol ul li {
  font-size: 1em;
  line-height: 1.2em; }

footer, .entry-meta {
  color: #2c364a;
  font-size: 1.4em;
  line-height: 1.5em; }

strong {
  font-weight: bold; }

em {
  font-style: italic; }

code, pre {
  font-family: monospace;
  font-size: 1.6em; }

blockquote {
  font-style: italic; }
  blockquote:before {
    content: "“";
    display: inline-block;
    padding-right: 0.6em; }

dl {
  font-size: 1.6em;
  line-height: 1.3em; }
  dl dt {
    font-weight: bold;
    line-height: 1.3em; }
  dl dd:first-line {
    padding-left: 0.5em; }

@media print {
  html, body, div, span, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, code, em, img, strong, sub, sup, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, menu, nav, section, summary, time, audio, video {
    background: transparent !important;
    box-shadow: none !important;
    color: #000 !important;
    text-shadow: none !important; }

  img {
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    filter: grayscale(100%); }

  p, h1, h2, h3 {
    orphans: 3;
    widows: 3; }

  h2, h3 {
    page-break-after: avoid; }

  a[href]:after {
    content: none !important; } }
html {
  overflow-y: scroll;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  scrollbar-arrow-color: #fff;
  scrollbar-face-color: #0FA;
  scrollbar-highlight-color: #000;
  scrollbar-shadow-color: #fff; }

@-ms-viewport {
  width: device-width; }

/*# sourceMappingURL=style.css.map */
